{% extends './../../social/navbar.html' %}

{% block title %} Agregar Nueva Persona {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Crear Persona
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos de la Persona</h4>
        {% include './../../stock/form.html' %}
        {% block cancelar %} <a name="" id="" class="btn btn-secundary" href="{% url 'persona_index' %}" role="button">Cancelar</a> {% endblock %}
    </div>
</div>

{% endblock %}