{% extends "./../base.html" %}

{% block title %} Lista de Compras {% endblock %}

{% block content %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-dark" href=" {% url 'crear_compra' %}" role="button">Agregar nueva Compra</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Compras</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Costo Compra</th>
                    <th>Proveedor</th>
                    <th>Numero Factura</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.id }}</td>
                    <td>{{ purchase.date }}</td>
                    <td>{{ purchase.quantity }}</td>
                    <td>{{ purchase.purchase_cost }}</td>
                    <td>{{ purchase.provider }}</td>
                    <td>{{ purchase.invoice_number }}</td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'editar_compra' purchase.id %}" role="button">Editar</a>
                        |
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_compra' purchase.id %}" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>
</div>

{% endblock %}