{% extends "./../../social/navbar.html" %}

{% block title %} Lista de Cargos {% endblock %}

{% block content %} 


<div class="card"  id="contenedor-tabla">
    <div class="card-header">
        <a name="" id="" class="btn btn-dark" href=" {% url 'crear_cargo' %}" role="button">Agregar nuevo Cargo</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Cargos</h4>
        
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Accciones</th>
                </tr>
            </thead>
            <tbody>
                {% for position in positions %}
                <tr>
                    <td>{{ position.id }}</td>
                    <td>{{ position.name }}</td>
                    <td>{{ position.description }}</td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'editar_cargo' position.id %}" role="button">Editar</a>
                        |
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_cargo' position.id %}" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>
</div>

{% endblock %}