{% extends "./../../social/navbar.html" %}

{% block title %} Lista de Items {% endblock %}

{% block content %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-dark" href=" {% url 'crear_item' %}" role="button">Agregar nuevo Item</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Items</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Inicio Garantia</th>
                    <th>Fin Garantia</th>
                    <th>Observaciones</th>
                    <th>Serial</th>
                    <th>Estado</th>
                    <th>Producto</th>
                    <th>Costo Venta</th>
                    <th>Accciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.warranty_start }}</td>
                    <td>{{ item.warranty_end }}</td>
                    <td>{{ item.remarks }}</td>
                    <td>{{ item.serial }}</td>
                    <td>{{ item.state }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.cost_sale }}</td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'edit_item' item.id %}" role="button">Editar</a>
                        |
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_item' item.id %}" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>
</div>

{% endblock %}