{% extends './../../stock/base.html' %}

{% block title %} Agregar Nuevo Usuario {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Crear un Usuario
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del Usuario</h4>
        {% include './../../stock/form.html' %}
        {% block cancelar %} <a name="" id="" class="btn btn-secundary" href="{% url 'usuario_index' %}" role="button">Cancelar</a> {% endblock %}
    </div>
</div>

{% endblock %}