{% extends "./../../social/listar.html" %}

{% block col %}
<tr>
    <th scope="col" style="width: 10%">#</th>
    <th style="width: 15%">Nombre</th>
    <th style="width: 10%">Tipo Documento</th>
    <th style="width: 15%">Número Documento</th>
    <th style="width: 15%">Correo</th>
    <th style="width: 15%">Cargo</th>
    <th style="width: 15%">Estado</th>
    <th style="width: 5%">Acciones</th>
</tr>
{% endblock col %}

{% block row %}
    {% for u in object_list %}
        <tr>
            <td class="table-plus">{{ u.id }}</td>
            <td>{{ u.first_name }} {{ u.last_names }}</td>
            <td>{{ u.type_document.type_document }}</td>
            <td>{{ u.document_number }}</td>
            {% if u.email_address == None %}
                <td>Vacío</td>
            {% else %}
                <td>{{ u.email_address }}</td>
            {% endif %}
            <td>{{ u.id_position.name }}</td>
            {% if u.state == 'A' %}
                <td>Activo</td>
            {% elif u.state == 'I' %}
                <td>Inactivo</td>
            {% endif %}           
            <td>
                <div class="table-actions">
                    <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Editar" href="{% url 'editar_usuario' u.id %}" data-color="#265ed7" style="color: rgb(38, 94, 215);"><i class="icon-copy dw dw-edit2"></i></a>
                    <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Eliminar" href="{% url 'eliminar_usuario' u.id %}" data-color="#e95959" style="color: rgb(233, 89, 89);"><i class="dw dw-delete-3"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock row %}

{% block extrajs %}
<script type="text/javascript">
    $(function () {
        $('.btnTest').on('click', function () {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {id: 2},
                dataType: 'json'
            }).done(function (data) { 
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                
            });
        });

        $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            language: {
                emptyTable: "No hay registros en la tabla",
                info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                search: "Buscar: <i class='icon-copy fa fa-search' aria-hidden='true'></i>",
                lengthMenu: "Mostrar _MENU_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior",
                },
            }
        });
    });
</script>
{% endblock extrajs %}