{% extends './base.html' %}
{% load static %}

{% block preloader %}
<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo"><img src="{% static 'img/logos/Logo-3.png' %}" alt="" style="width: 900px; height: 200px;"></div>
        <div class='loader-progress' id="progress_div">
            <div class='bar' id='bar1'></div>
        </div>
        <div class='percent' id='percent1'>0%</div>
        <div class="loading-text">
            Cargando...
        </div>
    </div>
</div>
{% endblock preloader %}


{% block container %}
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'img/dashboard/banner-img.png' %}" alt="">
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        ¡Bienvenido de nuevo! <div class="weight-600 font-30 text-orange">{{ request.user.username }}</div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pd-ltr-20 xs-pd-20-10">
                <div class="min-height-200px">
                    <!-- Tabla de entradas -->
                    <div class="card-box mb-30">
                        <div class="pd-20">
                            <h4 class="text-blue h4">Historial de Entradas de productos</h4>
                        </div>
                        <div class="pd-20">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th>Nombre Producto</th>
                                        <th>Fecha</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in entries %}
                                    <tr>
                                        <td class="table-plus">{{ e.id }}</td>
                                        <td>{{ e.id_product }}</td>
                                        <td>{{ e.date }}</td>
                                        <td>{{ e.quantity }}</td>
                                        <td>{{ e.price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}