{% extends './../base.html' %}

{% block title %} Agregar Nueva Devolucion {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Crear Devolucion
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos de la Devolucion</h4>
        {% include './../form.html' %}
        {% block cancelar %} <a name="" id="" class="btn btn-secundary" href="{% url 'devolucion_index' %}" role="button">Cancelar</a> {% endblock %}
    </div>
</div>

{% endblock %}