{% extends './../../social/form.html' %}

{% block inputExtra %}
<div class="form-group row">
    <label class="col-sm-12 col-md-2 col-form-label">Producto a cambiar</label>
    <div class="col-sm-12 col-md-10">
        <select class="custom-select2 form-control" name="producto_cambio" required id="id_producto_cambio">
            <option value="0" selected>---------</option>
            {% for p in productos %}
                <option value="{{ p.id }}">{{ p.name }} {{ p.brand }} {{ p.reference }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock inputExtra %}

{% block extrajs %}
<script type="text/javascript">

    $(function () {
        $('#datetimepicker').datepicker({
            autoclose: true,
        });
    })

    $('form').on('submit', function (e) {
        e.preventDefault();

        var parameters = $(this).serializeArray();
        
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json'
        }).done(function (data) { 
            if(!data.hasOwnProperty('error')) {
                location.href = '{{ url_listar }}';
                return false;
            }
            message_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        }).always(function (data) {
            
        });
    });
</script>
{% endblock extrajs %}