{% extends "./../../social/listar.html" %}

{% block col %}
<tr>
    <th scope="col" style="width: 10%">#</th>
    <th style="width: 15%">Fecha</th>
    <th style="width: 15%">Motivo</th>
    <th style="width: 15%">Observaciones</th>
    <th style="width: 15%">Nombre Producto</th>
    <th style="width: 5%">Accciones</th>
</tr>
{% endblock col %}

{% block row %}
    {% for d in object_list %}
        <tr>
            <td class="table-plus">{{ d.id }}</td>
            <td>{{ d.date }}</td>
            <td>{{ d.reason }}</td>
            <td>{{ d.remarks }}</td>
            <td>{{ d.id_product.name }} {{ d.id_product.brand }} {{ d.id_product.reference }}</td>
            <td>
                <div class="table-actions">
                    <a class="dropdown-item" href="{% url 'editar_devolucion' d.id %}" data-color="#265ed7" style="color: rgb(38, 94, 215);"><i class="icon-copy dw dw-edit2"></i></a>
                    <a class="dropdown-item" href="{% url 'eliminar_devolucion' d.id %}" data-color="#e95959" style="color: rgb(233, 89, 89);"><i class="dw dw-delete-3"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock row %}

{% block extrajs %}
<script type="text/javascript">
    $(function () {
        $('.btnTest').on('click', function () {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {id: 2},
                dataType: 'json'
            }).done(function (data) { 
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                
            });
        });

        $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            language: {
                emptyTable: "No hay registros en la tabla",
                info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                search: "Buscar: <i class='icon-copy fa fa-search' aria-hidden='true'></i>",
                lengthMenu: "Mostrar _MENU_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior",
                },
            }
        });
    });
</script>
{% endblock extrajs %}