{% extends "./../../social/listar.html" %}

{% block titlePaginador %} Lista de Devoluciones {% endblock titlePaginador %}

{% block titleH4 %}Lista de Devoluciones{% endblock titleH4 %}
{% block breadcrumb %} Devoluciones {% endblock breadcrumb %}
{% block titleTable %}Lista de devoluciones{% endblock titleTable %}
{% block urlCrear %}{% url 'crear_devolucion' %}{% endblock urlCrear %}
{% block botonCrear %}devolución{% endblock botonCrear %}

{% block col %}
<tr>
    <th scope="col">#</th>
    <th>Fecha</th>
    <th>Motivo</th>
    <th>Observaciones</th>
    <th>Nombre Producto</th>
    <th>Accciones</th>
</tr>
{% endblock col %}

{% block row %}
    {% for devolution in devolutions %}
        <tr>
            <td class="table-plus">{{ devolution.id }}</td>
            <td>{{ devolution.date }}</td>
            <td>{{ devolution.reason }}</td>
            <td>{{ devolution.remarks }}</td>
            <td>{{ devolution.id_product.name }} {{ devolution.id_product.brand }} {{ devolution.id_product.reference }}</td>
            <td>
                <div class="dropdown">
                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <i class="dw dw-more"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="{% url 'editar_devolucion' devolution.id %}"><i class="dw dw-edit2"></i> Editar</a>
                        <a class="dropdown-item" href="{% url 'eliminar_devolucion' devolution.id %}"><i class="dw dw-delete-3"></i> Eliminar</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock row %}