{% extends './../../stock/base.html' %}

{% block title %} Editar Tipo Documento {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Editar Tipo Documento
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del Tipo Documento</h4>
        {% include './../../stock/form.html' %}
        {% block cancelar %} <a name="" id="" class="btn btn-secundary" href="{% url 'tipo_documento_index' %}" role="button">Cancelar</a> {% endblock %}
    </div>
</div>

{% endblock %}