{% extends "./../../social/navbar.html" %}

{% block title %} Lista de Usuario Cargos {% endblock %}

{% block content %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-dark" href=" {% url 'crear_usuario_cargo' %}" role="button">Agregar nuevo Usuario Cargo</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Cargos de Usuario</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Accciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user_position in user_positions %}
                <tr>
                    <td>{{ user_position.id }}</td>
                    <td>{{ user_position.user }}</td>
                    <td>{{ user_position.position }}</td>
                    <td>{{ user_position.state }}</td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'editar_usuario_cargo' user_position.id %}" role="button">Editar</a>
                        |
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_usuario_cargo' user_position.id %}" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>
</div>

{% endblock %}