{% extends './../../dashboard/base.html' %}

{% block title %} Agrergar nueva venta {% endblock %}

{% block container %}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Crear venta</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nueva venta</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Formulario -->

            <div class="pd-20 card-box mb-30">
                <div class="pd-20 card-box mb-30">
                    <form action="" method="GET">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4 class="text-blue h4">Buscar Productos</h4>
                                
                                <div class="input-group-append">
                                    <input type="search" class="form-control" placeholder="Buscar..." aria-controls="Datatables_Table_0" value="{{ request.GET.buscar }}" name="buscar">
                                    <button class="btn btn-primary"><i class="icon-copy fa fa-search-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>    
                    </form>
                </div>
                <div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Productos</h4>
					</div>
					<div class="pb-20">
						<table class="checkbox-datatable table nowrap">
                            <thead>
								<tr>
									<th></th>
									<th>Nombre</th>
									<th>Marca</th>
									<th>Referencia</th>
									<th>Stock</th>
									<th>Precio</th>
								</tr>
							</thead>
                            {% for product in productos %}
                            <tbody>
								<tr>
									<td>
                                        <div class="dt-checkbox">
											<input type="checkbox" name="id[{{ product.id }}]" value="{{ product.id }}">
											<span class="dt-checkbox-label"></span>
										</div>
                                    </td>
									<td>{{ product.name }}</td>
									<td>{{ product.brand }}</td>
									<td>{{ product.reference }}</td>
									<td>{{ product.stock }}</td>
									<td>{{ product.cost_sale }}</td>
								</tr>
							</tbody>
                            {% endfor %}
						</table>
					</div>
				</div>
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Información de la venta</h4>
                        </div>
                    </div>
                    <form method="post">{% csrf_token %}
                        {% include './../../social/form.html' %}
    
                        <input class="btn btn-primary" type="submit" value="Enviar Datos">
                        <a class="btn btn-secundary" href="{% url 'producto_index' %}" role="button">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}