{% extends './../../dashboard/base.html' %}

{% block title %} Agrergar nueva venta {% endblock %}

{% block container %}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Creación de una venta</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nueva venta</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Formulario -->
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-30">
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                            <h3 class="text-blue h3"><i class="icon-copy fa fa-cubes" aria-hidden="true"></i>  Detalle de producto</h3>
                            <label>Buscador de productos</label> <br>
                            <div class="form-group">
                                <div class="input-group-append">
                                    <input type="text" class="form-control" placeholder="Ingrese una descripción de producto"  name="buscar">
                                    <button class="btn btn-danger"><i class="icon-copy fa fa-window-close" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Eliminar</th>
                                    <th>Producto</th>
                                    <th>Precio Unidad</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-30">
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h3 class="text-blue h3"><i class="icon-copy fa fa-shopping-cart" aria-hidden="true"></i>   Datos de la venta</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ form }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function () {

        // Búsqueda de productos
    
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
          ];
          $('input[name="buscar"]').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'autocomplete',
                        'term': request.term
                    },
                    dataType: 'json',
                }).done(function (data) {
                    response(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    //alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            },
            delay: 500,
            minLength: 2,
            select: function (event, ui) {
                console.log(ui.item);
            }
          });
    })
</script>
{% endblock extrajs %}