{% extends "./../base.html" %}

{% block title %} Lista de Ventas {% endblock %}

{% block content %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-dark" href=" {% url 'crear_venta' %}" role="button">Agregar nueva venta</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Ventas</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Numero Factura</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Cliente</th>
                    <th>Usuario</th>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.invoice_number }}</td>
                    <td>{{ sale.date }}</td>
                    <td>{{ sale.quantity }}</td>
                    <td>{{ sale.total }}</td>
                    <td>{{ sale.customer }}</td>
                    <td>{{ sale.user }}</td>
                    <td>{{ sale.item }}</td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'editar_venta' sale.id %}" role="button">Editar</a>
                        |
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_venta' sale.id %}" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>
</div>

{% endblock %}