{% extends './../../social/form.html' %}

{% block extrajs %}
<script type="text/javascript">

    $(function () {
        $('#datetimepicker').datepicker({
            autoclose: true,
        });
    })

    $('form').on('submit', function (e) {
        e.preventDefault();

        var parameters = $(this).serializeArray();
        console.log(parameters);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json'
        }).done(function (data) { 
            if(!data.hasOwnProperty('error')) {
                location.href = '{{ url_listar }}';
                return false;
            }
            console.log(data);
            message_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        });
    });
</script>
{% endblock extrajs %}