{% extends "./../../dashboard/base.html" %}

{% block title %} Lista de Productos {% endblock %}

{% block container %} 
<!-- Main Container -->
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Lista de Productos</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Productos</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2018
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Export List</a>
                                <a class="dropdown-item" href="#">Policies</a>
                                <a class="dropdown-item" href="#">View Assets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabla de productos -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">Lista de Productos</h4>
                    <a class="btn btn-primary" href="{% url 'crear_producto' %}">Crear nuevo producto</a>
                </div>
                <div class="pd-20">
                    <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>Nombre</th>
                                <th>Costo Venta</th>
                                <th>Marca</th>
                                <th>Referencia</th>
                                <th>Stock</th>
                                <th>Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="table-plus">{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.cost_sale }}</td>
                                <td>{{ product.brand }}</td>
                                <td>{{ product.reference }}</td>
                                <td>{{ product.stock }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a href="" class="dropdown-item btn-block" data-toggle="modal" data-target="#Medium-modal" type="button"><i class="icon-copy fa fa-plus" aria-hidden="true"></i> Agregar productos</a>
                                            <a class="dropdown-item" href="{% url 'editar_producto' product.id %}"><i class="dw dw-edit2"></i> Editar</a>
                                            <a class="dropdown-item" href="{% url 'eliminar_producto' product.id %}"><i class="dw dw-delete-3"></i> Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Tabla de entradas -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">Historial de Entradas</h4>
                </div>
                <div class="pd-20">
                    <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>Nombre Producto</th>
                                <th>Fecha</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for entrie in entries %}
                            <tr>
                                <td class="table-plus">{{ entrie.id }}</td>
                                <td>{{ entrie.id_product }}</td>
                                <td>{{ entrie.date }}</td>
                                <td>{{ entrie.quantity }}</td>
                                <td>{{ entrie.price }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Medium-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Agregar productos</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <h6 class="modal-title">{{ product.name }} {{ product.brand }} {{ product.reference }} A</h6>
                            <form>
                                <div class="select-role">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn active">
                                            <input type="radio" name="options" id="admin">
                                            <div class="icon"><img src="vendors/images/briefcase.svg" class="svg" alt=""></div>
                                            <span>I'm</span>
                                            Manager
                                        </label>
                                        <label class="btn">
                                            <input type="radio" name="options" id="user">
                                            <div class="icon"><img src="vendors/images/person.svg" class="svg" alt=""></div>
                                            <span>I'm</span>
                                            Employee
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group custom">
                                    <input type="text" class="form-control form-control-lg" placeholder="Username">
                                    <div class="input-group-append custom">
                                        <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                    </div>
                                </div>
                                <div class="input-group custom">
                                    <input type="password" class="form-control form-control-lg" placeholder="**********">
                                    <div class="input-group-append custom">
                                        <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                                    </div>
                                </div>
                                <div class="row pb-30">
                                    <div class="col-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Remember</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="forgot-password"><a href="forgot-password.html">Forgot Password</a></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-0">
                                            <!--
                                                use code for form submit
                                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                                            -->
                                            <a class="btn btn-primary btn-lg btn-block" href="index.html">Sign In</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}

{% comment %} {% block extrajs %}
<script type="text/javascript">
    const openEls = document.querySelectorAll("[data-open]");
    const isVisible = "is-visible";

    for(const el of openEls) {
        el.addEventListener("click", function() {
            const modalId = this.dataset.open;
            document.getElementById(modalId).classList.add(isVisible);
        });
    }
</script>
{% endblock extrajs %} {% endcomment %}