{% extends "./../../social/listar.html" %}

{% block col %}
<tr>
    <th scope="col" style="width: 10%">#</th>
    <th style="width: 15%">Nombre</th>
    <th style="width: 15%">Costo Venta</th>
    <th style="width: 15%">Marca</th>
    <th style="width: 15%">Referencia</th>
    <th style="width: 15%">Garantía</th>
    <th style="width: 15%">Stock</th>
    <th style="width: 15%">Estado</th>
    <th style="width: 15%">Acciones</th>
</tr>
{% endblock col %}

{% block row %}
    {% for p in object_list %}
        <tr>
            <td class="table-plus">{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.cost_sale }}</td>
            <td>{{ p.brand }}</td>
            <td>{{ p.reference }}</td>
            {% if p.warranty == 'C' %}
            <td>Con garantía</td>
            {% elif p.warranty == 'S' %}
            <td>Sin garantía</td>
            {% endif %}
            {% if p.stock != 0 %}
                <td><span class="badge badge-success badge-pill">{{ p.stock }}</span></td>
            {% else %}
                <td><span class="badge badge-danger badge-pill">{{ p.stock }}</span></td>
            {% endif %}
            <td>{{ p.state }}</td>
            <td>
                <div class="table-actions">
                    <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Agregar productos" onclick="abrir_modal('{% url 'agregar_stock' p.id %}')" data-color="#8ABD5F" style="color: rgb(138, 189, 95);"><i class="icon-copy fa fa-plus" aria-hidden="true"></i></a>
                    <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Editar" href="{% url 'editar_producto' p.id %}" data-color="#265ed7" style="color: rgb(38, 94, 215);"><i class="icon-copy dw dw-edit2"></i></a>
                    <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Eliminar" href="{% url 'eliminar_producto' p.id %}" data-color="#e95959" style="color: rgb(233, 89, 89);"><i class="dw dw-delete-3"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock row %}

{% block extraTables %}
<!-- Tabla de entradas -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Historial de Entradas</h4>
    </div>
    <div class="pd-20">
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>Nombre Producto</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                {% for e in entries %}
                <tr>
                    <td class="table-plus">{{ e.id }}</td>
                    <td>{{ e.id_product }}</td>
                    <td>{{ e.date }}</td>
                    <td>{{ e.quantity }}</td>
                    <td>{{ e.price }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock extraTables %}

{% block extraContent %}
<!-- Modal -->
<div class="modal fade" id="actualizacion" role="dialog">
               
</div>
{% endblock extraContent %}

{% block extrajs %}
<script type="text/javascript">
    function abrir_modal(url){
        $('#actualizacion').load(url, function() {
            $(this).modal('show');
        });
    };

    $(function () {
        $('.btnTest').on('click', function () {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {id: 2},
                dataType: 'json'
            }).done(function (data) { 
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                
            });
        });

        $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            language: {
                emptyTable: "No hay registros en la tabla",
                info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                search: "Buscar: <i class='icon-copy fa fa-search' aria-hidden='true'></i>",
                lengthMenu: "Mostrar _MENU_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior",
                },
            }
        });
    });
</script>
{% endblock extrajs %}