{% extends './../dashboard/base.html' %}

{% block title %} {{ titlePaginador }} {% endblock %}

{% block container %}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4><i class="icon-copy fa fa-trash" aria-hidden="true"></i> {{ titlePaginador }}</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="{{ url_listar }}">{{ listar }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ titlePaginador }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Formulario -->

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        
                    </div>
                </div>
                <form method="post" novalidate="novalidate">{% csrf_token %}
                    
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading h4"><i class="icon-copy fa fa-exclamation-triangle" aria-hidden="true"></i> ¡Notificación!</h4>
                        <p>¿Estás seguro de eliminar el registro N° {{ object.id }}?</p>
                        <hr>
                        <button class="btn btn-primary" type="submit" id="enviar"><i class="icon-copy fa fa-trash-o" aria-hidden="true"></i>  Sí, aceptar</button>
                        <a class="btn btn-secundary" href="{{ url_listar }}" role="button"><i class="icon-copy fa fa-window-close-o" aria-hidden="true"></i>  Cancelar</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}