{% extends './../dashboard/base.html' %}

{% block title %} {% block titlePaginador %}{% endblock titlePaginador %} {% endblock %}

{% block container %}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Editar {% block h4 %}{% endblock h4 %}</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Editar {% block brearcrumb %}{% endblock brearcrumb %}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Formulario -->

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">{% block infoH4 %}{% endblock infoH4 %}</h4>
                    </div>
                </div>
                <form method="post">{% csrf_token %}
                    {% include './form.html' %}

                    <input class="btn btn-primary" type="submit" value="Enviar Datos">
                    <a class="btn btn-secundary" href="{% block botonCancelar %}{% endblock botonCancelar %}" role="button">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}