{% extends './../dashboard/base.html' %}

{% block title %} {{ titlePaginador }} {% endblock %}

{% block container %}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>{% block icon %}{% endblock icon %} {{ titlePaginador }}</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="{{ url_listar }}">{{ listar }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ titlePaginador }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Formulario -->

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">{{ infoH4 }}</h4>
                    </div>
                </div>
                <form method="post" novalidate="novalidate">{% csrf_token %}
                    {% block inputHidden %}{% endblock inputHidden %}

                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading h4">Ha ocurrido un error al querer guardar el registro.</h4>
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-12 col-md-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}

                    <button class="btn btn-primary" type="submit" id="enviar"><i class="icon-copy fa fa-save" aria-hidden="true"></i>  Guardar datos</button>
                    <a class="btn btn-secundary" href="{{ botonCancelar }}" role="button"><i class="icon-copy fa fa-window-close-o" aria-hidden="true"></i>  Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}