{% extends './../dashboard/base.html' %}

{% block title %} {{ titlePaginador }} {% endblock %}

{% block container %}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Formulario -->

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="title">
                            {% if action == 'add' %}
                            <h4><i class="icon-copy fa fa-plus" aria-hidden="true"></i> {{ titlePaginador }}</h4>
                            {% else %}
                            <h4><i class="icon-copy fa fa-edit" aria-hidden="true"></i> {{ titlePaginador }}</h4>
                            {% endif %}
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{{ url_listar }}">{{ listar }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ titlePaginador }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <form method="post" novalidate="novalidate">{% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">

                    {% for field in form.visible_fields %}
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-12 col-md-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}

                    {% block inputExtra %}{% endblock inputExtra %}

                    <a class="btn btn-outline-secondary" href="{{ url_listar }}" role="button"><i class="icon-copy fa fa-window-close-o" aria-hidden="true"></i>  Cancelar</a>
                    <button class="btn btn-warning" type="submit" id="enviar"><i class="icon-copy fa fa-save" aria-hidden="true"></i>  Guardar datos</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}