{% extends './base.html' %}

{% block content%}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('./../../../static/img/digital.jpeg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Bienvenidos a <span>Veristock</span></h2>
                <p class="animate__animated animate__fadeInUp">Maneja el inventario de tu empresa de forma segura y practica.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Saber más</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="./../../../static/img/producto.png" class="img-fluid" alt="">
            <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>Nosotros</h2>
              <p><center>Software de facil comprension y velocidad para la actualizacion  de tu inventario, echo para aquellas empresas que usan documentos fisicos para llevar un control en su inventario, devoluciones y ventas de sus productos.</center></p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Lists Section ======= -->
    <section id="modulos" class="modulos">
      <div class="container">

        <div class="row no-gutters">
          <div class="section-title">
            <h2>Modulos</h2>
          </div>
          <center>
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
            <img src="./../../../static/img/inventar.jpg " width ="100" height ="100" class="img-fluid" alt="">
            <span></span>
            <h4><center>Inventarios</center></h4>
            <p><center>Un software de control para inventarios, lleva el conteo de los articulos que estan disponibles para la venta y de los que se encuentran en los almacenes o bodegas.</center></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <img src="./../../../static/img/devolucion.jpg " width ="100" height ="100" class="img-fluid" alt="">
            <span></span>
            <h4><center>Devoluciones</center></h4>
            <p><center>Es momento de poner en practica un manejo mas seguro y efectivo de tu inventareio,para que disminuyas perdidas, localices tus productos rapidamente y protejas tu inversion.</center></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <img src="./../../../static/img/reporte.jpg " width ="100" height ="100" class="img-fluid" alt="">
            <span></span>
            <h4><center>Reportes</center></h4>
            <p><center>Toma mejores decisiones con la ayuda de reportes dinamicos en tiempo real que puedes guardar y compartir con quien sea; Manten la informacion clave al alcance de la mano con los tableros personalizados.</center></p>
          </div> 
        </div>
      </center>

      </div>
    </section><!-- End About Lists Section -->

    <!-- ======= Counts Section ======= -->
    <section id="powers" class="ventajas"
      <div class="container">

        <div class="row">
          <div class="section-title">
            <h2>Ventajas</h2>
          </div>
          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
            <div class="count-box">
              <img src="./../../../static/img/documentos.png " width ="100" height ="100" class="img-fluid" alt="">
              <i class="bi bi-simple-smile" style="color: #20b38e;"></i>
              <p>Deja atras los documentos físicos</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <img src="./../../../static/img/click.png " width ="100" height ="100" class="img-fluid" alt="">
              <i class="bi bi-document-folder" style="color: #c042ff;"></i>
              <p>Maneja todo tu inventario con solo un click</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
            <div class="count-box">
              <img src="./../../../static/img/controlar.png " width ="100" height ="100" class="img-fluid" alt="">
              <i class="bi bi-live-support" style="color: #46d1ff;"></i>
              <p>Controla entradas y salidas de productos.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
            <div class="count-box"><img src="./../../../static/img/almacena.png " width ="100" height ="100" class="img-fluid" alt="">
              <i class="bi bi-users-alt-5" style="color: #ffb459;"></i>
              <p>Almacena mayor cantidad de datos.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Funcionalidades</h2>
        </div>
        <center>
        <div class="row ">
          <div class="col-lg-5 col-md-5 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-chat-left-dots"></i></div>
            <h4 class="title"><a href="">Velocidad</a></h4>
            <p class="description">Te garantizamos velocidad a la hora de hacer la actualización de tus ventas e inventario.</p>
          </div>
          <div class="col-lg-5 col-md-5 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-bounding-box"></i></div>
            <h4 class="title"><a href="">Seguridad</a></h4>
            <p class="description">Protegemos tu informacion y evitamos que tengan perdida de datos.</p>
          </div>
          <div class="col-lg-5 col-md-5 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-globe"></i></div>
            <h4 class="title"><a href="">Organizar</a></h4>
            <p class="description">Organiza tu ionventario y revisa que usuario realiza cambios.</p>
            
          </div>
          <div class="col-lg-5 col-md-5 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-broadcast"></i></div>
            <h4 class="title"><a href="">Devoluciones</a></h4>
            <p class="description">Gestiona de manera efectiva las devoluciones.</p>
          </div>
        </center>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nuestro equipo</h2>
          <p>Aprendices del tecnólogo ADSI</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <div class="pic"><img src="./../../../static/img/team/camilo.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Juan Camilo</h4>
                <span>Desarrollador web</span>
                <span></span>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="./../../../static/img/team/nicolas.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Juan Nicolas</h4>
                <span>Desarrollador web</span>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="./../../../static/img/team/kevin.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kevin Daniel</h4>
                <span>Desarrollador web</span>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="./../../../static/img/team/david.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Juan David</h4>
                <span>Desarrollador web</span>

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contactanos</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Direccion</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email de contacto</h3>
              <p>info@example.com<br>contact@example.com</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3>Telefonos</h3>
              <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
            </div>
          </div>

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-lg-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
                </div>
                <div class="col-lg-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electronico" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Dejanos un mensaje (opcional)" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado con exito!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

{% endblock %}