{% extends "./../dashboard/base.html" %}
{% load static %}

{% block title %} {{ titlePaginador }} {% endblock %}

{% block extracss %}{% endblock extracss %}

{% block container %} 
<!-- Main Container -->
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Tabla de productos -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>{{ titlePaginador }}</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ titlePaginador }}</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <a class="btn btn-warning" href="{{ urlCrear }}"><i class="icon-copy fa fa-plus-square" aria-hidden="true"></i>  {{ botonCrear }}</a>
                            <a class="btn btn-outline-secondary" href="#"><i class="icon-copy dw dw-download1"></i> Exportar</a>
                        </div>
                    </div>
                </div>
                <div class="pd-20">
                    <div class="table-responsive">
                        <table class="table" id="data">
                          <thead>
                            {% block col %}
                            {% endblock col %}
                          </thead>
                          <tbody>
                            {% block row %}
                            {% endblock row %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% block extraTables %}
            {% endblock extraTables %}

            {% block extraContent %}
            {% endblock extraContent %}
        </div>
    </div>
</div>

{% endblock %}